:root {
    --font-size: 14px;
}

nav {
    height: 100px;
    box-shadow: 0 1px 0 rgba(115, 130, 140, 0.2);
}

nav strong {
    font-size: 20px;
}

.error {
    color: crimson;
}

.todo {
    & .todo-header {
        display: flex;
        justify-content: space-between;
    }
}

.button-group {
    display: flex;
}